header {
   background-color: rgb(249, 0, 0);
   
}
footer{
    background-color: pink;
}
/* h1{
    text-align: center;
   padding-top: 15px;
} */
h2,h1{
   
    margin:0;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: underline;
}
nav{
    background-color: orange;
}
article {
    
    background-color:rgb(114, 114, 244) ;
}

main { 
    background-color:greenyellow ;
    padding: 5px;
}
