.checkbox{
    display:inline-flex;
}
.checkbox__input{
    position: absolute;
    opacity: 0;
    left:-100vw;
}
.checkbox__state{
    display:flex;
    gap:12px;
    align-items: center;
}
.checkbox__control{
    width:28px;
    height:28px;
    border:1px solid #DDE2E5;
    border-radius:4px;
    display:flex;
    align-items:center;
    justify-content: center;;
}
.checkbox__icon{
   
}
.checkbox__title{
    color:#495057;
    font-family:Inter;
    font-size: 16px;
    font-style:normal;
    font-weight:400;
    line-height:24px;
}
.checkbox__input:checked ~ .checkbox__state .checkbox__control{
    background:#4263EB;
    border-color:#4263eb;
}
.checkbox__input:focus ~ .checkbox__state .checkbox__title {
    text-decoration: underline;
}
.flex__container{
    display:flex;
    flex-direction: column;
    gap:1em;
}
.radio-checkbox--disabled{
    opacity:0.5;
}
.radio-checkbox--disabled .checkbox__state .checkbox__control{
    background-color: grey;
    border-color:grey; 
}
.radio-checkbox--disabled .checkbox__icon{
    color:grey;
}