.radio{
    display:inline-flex;
}
.radio__input{
    position: absolute;
    opacity: 0;
    left:-100vw;
}
.radio__state{
    display:flex;
    gap:12px;
    align-items: center;
}
.radio__control{
    width:28px;
    height:28px;
    border:1px solid #000000;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content: center;;
}
.radio__icon{
    
    color:white;
  
}
.radio__title{
    color:#495057;
    font-family:Inter;
    font-size: 16px;
    font-style:normal;
    font-weight:400;
    line-height:24px;
}
.radio__input:checked ~ .radio__state .radio__control .radio__icon{
    color:#4263EB;
}
.radio__input:focus ~ .radio__state .radio__title {
    text-decoration: underline;
}
.flex__container{
    display:flex;
    flex-direction: column;
    gap:10px;
}
.radio-checkbox--disabled{
    opacity:0.5;
}
.radio-checkbox--disabled .radio__state .radio__control{
    background-color: grey;
    border-color:grey; 
}
.radio-checkbox--disabled .radio__icon{
    color:grey;
}