<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="button.css">
</head>
<body>
    <main class="main">
    <button class="button button--style">
        Кнопка судьбы
    </button>
    <button class="button button--style">
        Кнопка  гудьбы
    </button>
    <button class="button button--style_alt">
        Кнопка
    </button>

    <br><br>
    <button class="button button--style_hover ">
        Кнопка судьбы
    </button>
    <button class="button button--style_hover">
        Кнопка  гудьбы
    </button>
    <button class="button button--style_alt_hover">
        Кнопка
    </button>

    <br><br>
    <button disabled class="button button--style">
        Кнопка судьбы
    </button>
    <button disabled class="button button--style">
        Кнопка  гудьбы
    </button>
    <button disabled class="button button--style_alt">
        Кнопка
    </button>
</main>
</body>
</html>