<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="accordion.css"></link>
</head>
<body>
    <div class="accordion">
        <img class ="vector" src="vector.svg"/>
    <details class="accordion__detail">
        <summary class="details__summary">Accordion item 1</summary>
        <p class="details__item">Никто не вернет тебе исчезнувшее время, никто не вернет тебе тебя Никто не вернет тебе исчезнувшее время, никто не вернет тебе тебя</p>
    </details>
    <img class ="vector" src="vector.svg"/>
    <details class="accordion__detail">
        <summary class="details__summary">Accordion item 2</summary>
        <p class="details__item">Ну типа</p>
    </details>
    <img class ="vector" src="vector.svg"/>
    <details class="accordion__detail">
        <summary class="details__summary">Accordion item 3</summary>
       <p class="details__item">Да</p> 
    </details>
</div>
</body>
</html>