
.container__form{
    display:flex;
    flex-direction: row;
    gap:2em;
    width:250px;
    justify-content: center;
}
.flex__container{
    display:flex;
    flex-direction: column;
    gap:1em;
}
@media(max-width:600px){
    .container__form{
        transform: scale(0.6); 
    }
}
