.histogram{
    box-sizing: border-box;/*попробовать убрать позже*/
    width: 324px;
    height: 165px;
    /* left: 536px;
    top: 4657px; */
    border:1px solid #ACB5BD;
    background: var(--main-element-color);
    border-radius: 15px;

    position:relative;
}
.histogram__block{
    display:flex; 
    flex-direction: row; 
    gap:3px; 
    margin-top:100px;

    justify-content: center;
    align-items: flex-end; 
}
.span_block{
    position:absolute;
    margin-left:0.8em;
}
.span_block_1{
    position:absolute;
    margin-top:0.5em;
    margin-left:16em;
}
.miniRectangles{
    width:9px;
    background-color: blue;
}
.rectangle_min{
    height:11px;
}
.rectangle_max{
    height:50px;
}
.rectangle_avg{
    height:30px;
}

/* ///////////////////////////////////////////////////////////////// */
@media (max-width:980px){
    .histogram{
        width: 240px;
        height: 140px;
        }
        .histogram__block{
            gap:0.2em; 
            margin-top:5em;
            margin-left:0.3em;
            max-width:230px;
        }
        .span_block{
            margin-top:0.5em;
            margin-left:1em;
        }
        .span_block_1{
            margin-top:0.5em;
            margin-left:10em;
        }
}
@media (max-width:600px){
    .histogram{
        width: 140px;
        height: 100px;
        }
        .histogram__block{
            gap:0.1em; 
            margin-top:2.8em;
            margin-left:0.3em;
            max-width:130px;
        }
        .span_block{
            font-size:0.5em;
            margin-top:0.5em;
            margin-left:1em;
        }
        .span_block_1{
            font-size:0.5em;
            margin-top:0.5em;
            margin-left:13em;
        }
        .miniRectangles{
            width:1em;
        }
        .rectangle_min{
            height:0.5em;
        }
        .rectangle_max{
            height:3em;
        }
        .rectangle_avg{
            height:2em;
        }
}

/* box-sizing: border-box;

position: absolute;
width: 354px;
height: 185px;
left: 536px;
top: 4657px;

background: #FFFFFF;
/* Gray 3 */
/* border: 1px solid #ACB5BD;
border-radius: 8px; */ 
