@import "/lectionsHomeWork/component/03-lection1/01-button/button.css";



 /* html, body {
    margin: 0;
    padding: 0;
} */

.modal{
   
    background-color: rgb(188, 185, 185);
  
    height:70%;
    width:96%;
    /* position:absolute; */
    /* overflow:hidden; */
    display:flex;
    justify-content: center;
    align-items:center;
    
    /* display:none; */
}

.modal__title{
    font-size: 1.2em;
    color:rgb(35, 35, 122);
    width:5em;
    margin:0 auto;
}
.modal__inner{
    width:280px;
    height:210px;
    
    background-color:whitesmoke; 
    padding:1em;
    padding-left:1em;
    border-radius: 15px;
    /* background-color:antiquewhite; */
    /* border:5px solid blue; */

    /* margin-top:3em;
    margin-left:1.3em; */

    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

}
.modal button{
    display:none;
}
.modal__content{
    margin-top:0.5em;
    display: flex;
    flex-direction: column;
    gap:0.5em;
}
.modal__input{
    width: 260px;
    height: 45px;
    border-radius: 8px 0px 0px 0px;
    border:1px solid #000000;
}
.cross{
    cursor:pointer;

    position:absolute;
    width:24px;
    height:24px;

    left:18.5em;
    top:4.5em;
}

@media(max-width:980px){
    .modal__content{
        margin-top:0.1em;
        gap:0.3em;
    }
    .modal__input{
        width: 180px;
        height: 30px;
    }
    .modal__title{
        font-size: 1.2em;
    }
     .modal__inner{
        width:210px;
        height:170px;
        padding:0em;
        
        padding-left:1em;
        border-radius: 15px;

        position:relative;
        overflow: clip;
    }
    .modal button{
        display:none;
    }
    .cross{
        position:absolute;
        left:12em;
        top:0.1em;
        width:24px;
        height:24px;
        /* transform:scale(0.5); */
    }
}
@media(max-width:600px){
    .modal__content{
        margin-top:0.1em;
        gap:0.6em;
    }
    .modal__input{
        width: 110px;
        height: 20px;
    }
    .modal{
        height:70%;
        width:96%;
    }
    .modal__title{
        font-size: 0.5em;
        color:rgb(35, 35, 122);
        width:5em;
    }
    .modal__inner{
        width:120px;
        height:95px;

        padding:0.5em;
        padding-left:1em;
        border-radius: 15px;

        position:relative;
        overflow: clip;
    }
    .modal button{
        display:none;
    }
    .modal__content{
        margin-top:0.1em;
        font-size:0.5em;
    }
    .cross{
        left:7.5em;
        top:0em;
        transform:scale(0.5);
    }
}