
.tab{
   position: absolute;
     opacity: 0;
    left:-100vw;
}


.preview__inner--none{
    display: none;
    }
    input[id="#all-tab"]:checked ~ .preview__inner--none{
        display:flex;
    }
    
    .preview__inner__elements{
        display: none;
        }
        input[id="#elements-tab"]:checked ~ .preview__inner__elements{
            display:flex;
            flex-wrap:wrap;
            gap:30px;
        }
        .preview__inner__containers{
            display: none;
            }
            input[id="#containers-tab"]:checked ~ .preview__inner__containers{
                display:flex;
                flex-wrap:wrap;
                gap:30px;
            }

        .preview__inner__templates{
            display: none;
            }
            input[id="#templates-tab"]:checked ~ .preview__inner__templates{
                display:flex;
                flex-wrap:wrap;
                gap:30px;
            }