@import "normalize.css";
@import "style.css";
@import "card.css";
@import "page.css";
@import "container.css";
@import "preview.css";
@import "/components/page/cards/tooltip.css";
@import "/components/page/cards/calendar.css";
@import "/components/page/cards/histogram.css";
@import "/components/page/cards/modal.css";
@import "/components/page/cards/pictures.css";
@import "/components/page/cards/form.css";
@import "/components/page/cards/tabs.css";
@import "/components/page/pages_css/sidebar.css";
@import "/components/page/pages_css/page.css";
body{
    font-family:'Roboto', sans-serif;
    margin:0;
}

html, body{
    height:100%;
}
:root {
    --main-element-color:#FFFFFF;
  }