.preview{
    
    padding:100px 0;  
    /* font-size:0; */
    /* background:#F9FAFC; */
    background:#e3e4e6;
    flex-grow: 1;

  /* ////////////////////////////////// */
   /* height:100%;
   width:100%;
   position:absolute;
   min-height:800px; 
   min-width:1200px; */
  /* ////////////////////////////////// *//*  для вариант на позишнах */
}
.preview__inner{
    margin:0 -15px;
    display:flex;
    flex-wrap:wrap;
    gap:30px;
    
}
.preview__card{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position:relative;
}

/* display: grid;
    border: 1px solid black;
    
  
    grid-template-rows:10fr 1fr;

    /* justify-items: center; 
    align-items:center;
    text-align: center; */