
.header {
   line-height:300%; 
   background-color: var(--main-element-color);
   border:0.5px solid #c6c1c1;
}
.header_svg{
    margin-top:5vh;
}
.footer div{
    /* background-color: #FFFFFF; */
    text-align:center;
}
.footer{
   background-color: var(--main-element-color);
}
.h{
    margin:0;
}
.article {
    background-color:rgb(114, 114, 244) ;
}
.main { 
    background-color:var(--main-element-color);
}
.svg__theme{
    color: var(--svgTheme);
}
.svg__checkbox{
    color: var(--main-element-color);
}
