
.header {
   line-height:300%; 
   background-color: var(--main-element-color);
   border:0.5px solid #c6c1c1;
}
.header_svg{
    margin-top:5vh;
}
.footer div{
    /* background-color: #FFFFFF; */
    text-align:center;
}
.footer{
   background-color: var(--main-element-color);
}
.h{
    margin:0;
}
.a{
    text-decoration: underline;
    font-size:1.5em;
}
/* .nav{
    background-color: var(--main-element-color);
} */
.article {
    background-color:rgb(114, 114, 244) ;
}
.main { 
    background-color:var(--main-element-color);
}
.a+.a{
    margin-left:30px;
}



@media(max-width:600px){
    .a+.a{
        margin-left:3px;
    }
}
