
.header {
   line-height:300%; 
   background-color: #FFFFFF;;
   border:0.5px solid #c6c1c1;
}
.header_svg{
    margin-top:5vh;
}
.footer div{
    /* background-color: #FFFFFF; */
    text-align:center;
}
.footer{
    flex-grow:1;background-color: #FFFFFF;
}
/* h1{
    text-align: center;
   padding-top: 15px;
} */
.h{
    margin:0;
}
.div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.a{
    text-decoration: underline;
    /* font-family:serif; */
    font-size:1.5em;
}
.nav{
    background-color: #FFFFFF;
}
.article {
    background-color:rgb(114, 114, 244) ;
}
.main { 
    background-color:#FFFFFF;
    padding: 5px;
}
.a+.a{
    margin-left:30px;
}
